{% extends "nav.html" %}



{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/claim.css')}}" />


<a  href="{{ url_for('home') }}" style="text-align: left;max-width:100px;"> 
  <i class="gg-arrow-left-o" aria-hidden="true"></i>
</a>
<div class="title-label">{{topic['topicName']}}</div>

<div id="claim-list">

{% for claim in claims %}

<div class="post-card">
  
  <p>{{claim.text}}</p>

  <ul id="replies-list" class="replies-list">
    
    <li class="reply">
      <div class="author">{{claim.repliesData[0].postingUser}}</div>
      <div class="content">{{claim.repliesData[0].text}}</div>
      <div class="date">{{claim.repliesData[0].creationTime}}</div>
    </li>
    
  </ul>
  <div class="reply-form">
      <textarea id="replyText{{claim.claimID}}" name="reply" placeholder="Type your reply here..."></textarea>
      <input type="hidden" name="claimIDText" value="{{claim.claimID}}">
      <input  type="submit" value="Reply" onclick="onReplyClick(document.getElementById('replyText{{claim.claimID}}').value,'{{claim.topicID}}','{{claim.claimID}}')">
  </div>
</div>


<hr>

 
  {% endfor %}
</div>

<script>
    function onReplyClick(replyText,topicID,claimID){
    const myData = document.getElementById('claim-list');
    console.log(replyText)
    fetch(`/reply?topicID=${topicID}&replyText=${replyText}&claimID=${claimID}`)
      .then(response => response.text())
      .then(data => {
        myData.innerHTML = data;
        replyText.value = ""
      });
  }

</script>

{% endblock %}