<div id="claim-list">

    {% for claim in claims %}
    
    <div class="post-card">
      
      <p>{{claim.text}}</p>
    
      <ul id="replies-list" class="replies-list">
        {% if claim.repliesData|length > 0%}
        <li class="reply">
          <div class="author">{{claim.repliesData[0].postingUser}}</div>
          <div class="content">{{claim.repliesData[0].text}}</div>
          <div class="date">{{claim.repliesData[0].creationTime}}</div>
        </li>
        {% endif %}
      </ul>
      <div class="reply-form">
          <textarea id="replyText{{claim.claimID}}" name="reply" placeholder="Type your reply here..."></textarea>
          <input type="hidden" name="claimIDText" value="{{claim.claimID}}">
          <input  type="submit" value="Reply" onclick="onReplyClick(document.getElementById('replyText{{claim.claimID}}').value,'{{claim.topicID}}','{{claim.claimID}}')">
      </div>
      <li><a href="{{url_for('claim_page',claimID=claim.claimID)}}" style="color: rgb(0, 4, 255);">Read More...</a></li>
    </div>
    
    
    <hr>
    
     
      {% endfor %}
    </div>
    